.box {
    margin: 1vh;
    padding: 0;
    margin-top: 2vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: 0px;
    font-family: sans-serif;
    background: #002244;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
}
footer {
    background-color: #010c16;
    color: #fff;
}

.container{
    position:relative;
    text-align:center;
    color:red;
}
.centered{
    position:absolute;
    top:23%;
    left:46.5%;
    transform:translate(-20%,-30%);
    font-size:4vh;
}
.center-top{
    position:absolute;
    top:32%;
    left:46.5%;
    transform:translate(-20%,-30%);
    font-size:11vh;
}
.bottom-left{
    position:absolute;
    top:49%;
    left:36%;
    font-size:10vh;
    color:green;
}
.bottom-right{
    position:absolute;
    top:49%;
    left:53%;
    font-size:10vh;
    color:green;
}
